[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[branch]
  autosetuprebase = always
[alias]
  pre = pull --rebase
  st = status
  review = "!f() { code `git diff --name-only $1` . ; } ; f"
  lod = log --decorate
  lodo = log --decorate --oneline
  lof = log --color --pretty=format:'%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)' --relative-date --decorate
  pr = "!f() { git fetch $1 refs/pull/$2/head:pr/$1/$2 && git checkout pr/$1/$2;  } ; f"
  pr-review = "!f() { git pr $1 $2; git review master; } ; f"
  d = difftool
  diffstats = "!f() { git diff --dirstat=files $1 $2; } ; f"
[user]
  email = lo@linux.com
  name = Lorenzo Fontana
  signingkey = 74C3DC15
[credential]
  helper = cache --timeout=360000
[gpg]
  program = gpg2
[commit]
  gpgsign = true
[diff]
  tool = nvim -d
[difftool]
  prompt = false

